@font-face {
    font-family: 'OSE';
    src:    url('fonts/OSE.eot?asn9wr');
    src:    url('fonts/OSE.eot?asn9wr#iefix') format('embedded-opentype'),
        url('fonts/OSE.ttf?asn9wr') format('truetype'),
        url('fonts/OSE.woff?asn9wr') format('woff'),
        url('fonts/OSE.svg?asn9wr#OSE') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="oseicon-"], [class*=" oseicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'OSE' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.oseicon-arrow116:before {
    content: "\e1dd";
}
.oseicon-barrow3:before {
    content: "\e1e1";
}
.oseicon-bath10:before {
    content: "\e1e2";
}
.oseicon-beds2:before {
    content: "\e1e3";
}
.oseicon-buildings25:before {
    content: "\e1e9";
}
.oseicon-bulbs1:before {
    content: "\e1ea";
}
.oseicon-cardboard34:before {
    content: "\e1ec";
}
.oseicon-chairs1:before {
    content: "\e1ee";
}
.oseicon-city3:before {
    content: "\e1ef";
}
.oseicon-city5:before {
    content: "\e1f0";
}
.oseicon-clips:before {
    content: "\e1f1";
}
.oseicon-coin:before {
    content: "\e1f2";
}
.oseicon-construction42:before {
    content: "\e1f9";
}
.oseicon-couch5:before {
    content: "\e1fa";
}
.oseicon-device17:before {
    content: "\e1fe";
}
.oseicon-direction65:before {
    content: "\e1ff";
}
.oseicon-door2:before {
    content: "\e201";
}
.oseicon-doors3:before {
    content: "\e202";
}
.oseicon-earphones7:before {
    content: "\e204";
}
.oseicon-exam:before {
    content: "\e205";
}
.oseicon-eyeglasses:before {
    content: "\e206";
}
.oseicon-fan1:before {
    content: "\e208";
}
.oseicon-fire1:before {
    content: "\e209";
}
.oseicon-furniture20:before {
    content: "\e20c";
}
.oseicon-garden10:before {
    content: "\e20d";
}
.oseicon-garden11:before {
    content: "\e20e";
}
.oseicon-garden12:before {
    content: "\e20f";
}
.oseicon-graphs4:before {
    content: "\e210";
}
.oseicon-hand260:before {
    content: "\e213";
}
.oseicon-horn:before {
    content: "\e215";
}
.oseicon-hotels:before {
    content: "\e216";
}
.oseicon-house226:before {
    content: "\e21b";
}
.oseicon-house232:before {
    content: "\e221";
}
.oseicon-indoor2:before {
    content: "\e222";
}
.oseicon-interiordesign:before {
    content: "\e223";
}
.oseicon-key19:before {
    content: "\e224";
}
.oseicon-key21:before {
    content: "\e225";
}
.oseicon-letter121:before {
    content: "\e228";
}
.oseicon-lift2:before {
    content: "\e229";
}
.oseicon-light112:before {
    content: "\e22a";
}
.oseicon-lock107:before {
    content: "\e22b";
}
.oseicon-luggage20:before {
    content: "\e22d";
}
.oseicon-machine3:before {
    content: "\e22e";
}
.oseicon-machine:before {
    content: "\e22f";
}
.oseicon-mail15:before {
    content: "\e230";
}
.oseicon-money207:before {
    content: "\e232";
}
.oseicon-money210:before {
    content: "\e233";
}
.oseicon-news3:before {
    content: "\e234";
}
.oseicon-notdisturb:before {
    content: "\e235";
}
.oseicon-officematerial:before {
    content: "\e236";
}
.oseicon-open10:before {
    content: "\e237";
}
.oseicon-order5:before {
    content: "\e238";
}
.oseicon-padlock10:before {
    content: "\e239";
}
.oseicon-parking1:before {
    content: "\e23a";
}
.oseicon-pin96:before {
    content: "\e23d";
}
.oseicon-plumber1:before {
    content: "\e23e";
}
.oseicon-print62:before {
    content: "\e23f";
}
.oseicon-purse12:before {
    content: "\e241";
}
.oseicon-radiator:before {
    content: "\e242";
}
.oseicon-realestate2:before {
    content: "\e244";
}
.oseicon-search9:before {
    content: "\e24d";
}
.oseicon-shopcart:before {
    content: "\e24e";
}
.oseicon-shower1:before {
    content: "\e251";
}
.oseicon-signal56:before {
    content: "\e252";
}
.oseicon-signal58:before {
    content: "\e253";
}
.oseicon-socket4:before {
    content: "\e255";
}
.oseicon-stats25:before {
    content: "\e257";
}
.oseicon-suitcase59:before {
    content: "\e259";
}
.oseicon-swim5:before {
    content: "\e25a";
}
.oseicon-telephone146:before {
    content: "\e25c";
}
.oseicon-telephone148:before {
    content: "\e25d";
}
.oseicon-television34:before {
    content: "\e25e";
}
.oseicon-title:before {
    content: "\e261";
}
.oseicon-toilet16:before {
    content: "\e262";
}
.oseicon-travel1:before {
    content: "\e263";
}
.oseicon-trees16:before {
    content: "\e264";
}
.oseicon-vacuum1:before {
    content: "\e267";
}
.oseicon-wash6:before {
    content: "\e268";
}
.oseicon-water78:before {
    content: "\e269";
}
.oseicon-weights:before {
    content: "\e26a";
}
.oseicon-wheelbarrow:before {
    content: "\e26b";
}
.oseicon-window81:before {
    content: "\e26c";
}
.oseicon-architecture7:before {
    content: "\e271";
}
.oseicon-architecture8:before {
    content: "\e272";
}
.oseicon-building125:before {
    content: "\e275";
}
.oseicon-building126:before {
    content: "\e276";
}
.oseicon-building128:before {
    content: "\e278";
}
.oseicon-building129:before {
    content: "\e279";
}
.oseicon-construction48:before {
    content: "\e280";
}
.oseicon-constructions:before {
    content: "\e283";
}
.oseicon-hospitals3:before {
    content: "\e287";
}
.oseicon-house16:before {
    content: "\e288";
}
.oseicon-houses4:before {
    content: "\e28f";
}
.oseicon-houses5:before {
    content: "\e290";
}
.oseicon-industry7:before {
    content: "\e291";
}
.oseicon-judaism:before {
    content: "\e293";
}
.oseicon-mills1:before {
    content: "\e296";
}
.oseicon-religion24:before {
    content: "\e297";
}
.oseicon-religion25:before {
    content: "\e298";
}
.oseicon-religion26:before {
    content: "\e299";
}
.oseicon-rural35:before {
    content: "\e29a";
}
.oseicon-skyscrapers1:before {
    content: "\e29c";
}
.oseicon-storage47:before {
    content: "\e29d";
}
.oseicon-store1:before {
    content: "\e29f";
}
.oseicon-announcement3:before {
    content: "\e000";
}
.oseicon-archive53:before {
    content: "\e001";
}
.oseicon-artistic13:before {
    content: "\e002";
}
.oseicon-attach31:before {
    content: "\e003";
}
.oseicon-attachment2:before {
    content: "\e004";
}
.oseicon-books93:before {
    content: "\e005";
}
.oseicon-books95:before {
    content: "\e006";
}
.oseicon-boxes27:before {
    content: "\e007";
}
.oseicon-boxes30:before {
    content: "\e008";
}
.oseicon-camera35:before {
    content: "\e009";
}
.oseicon-circle169:before {
    content: "\e00a";
}
.oseicon-clips7:before {
    content: "\e00b";
}
.oseicon-compactdisc6:before {
    content: "\e00c";
}
.oseicon-craft1:before {
    content: "\e00d";
}
.oseicon-cup81:before {
    content: "\e00e";
}
.oseicon-cut60:before {
    content: "\e00f";
}
.oseicon-cut61:before {
    content: "\e010";
}
.oseicon-cutting16:before {
    content: "\e011";
}
.oseicon-dailycalendar11:before {
    content: "\e012";
}
.oseicon-drawing35:before {
    content: "\e013";
}
.oseicon-drop8:before {
    content: "\e014";
}
.oseicon-drops11:before {
    content: "\e015";
}
.oseicon-ebook26:before {
    content: "\e016";
}
.oseicon-ebook28:before {
    content: "\e017";
}
.oseicon-garbagecan8:before {
    content: "\e018";
}
.oseicon-graphicseditor31:before {
    content: "\e019";
}
.oseicon-graphicseditor41:before {
    content: "\e01a";
}
.oseicon-graphicseditor44:before {
    content: "\e01b";
}
.oseicon-inbox52:before {
    content: "\e01c";
}
.oseicon-ink:before {
    content: "\e01d";
}
.oseicon-ipad39:before {
    content: "\e01e";
}
.oseicon-letters23:before {
    content: "\e01f";
}
.oseicon-magnifyingglass71:before {
    content: "\e020";
}
.oseicon-measure39:before {
    content: "\e021";
}
.oseicon-message43:before {
    content: "\e022";
}
.oseicon-milky4:before {
    content: "\e023";
}
.oseicon-newspaper22:before {
    content: "\e024";
}
.oseicon-newsreport3:before {
    content: "\e025";
}
.oseicon-notebook110:before {
    content: "\e026";
}
.oseicon-notepad6:before {
    content: "\e027";
}
.oseicon-officematerial10:before {
    content: "\e028";
}
.oseicon-officematerial11:before {
    content: "\e029";
}
.oseicon-officematerial13:before {
    content: "\e02a";
}
.oseicon-officematerial6:before {
    content: "\e02b";
}
.oseicon-officematerial7:before {
    content: "\e02c";
}
.oseicon-package37:before {
    content: "\e02d";
}
.oseicon-paint115:before {
    content: "\e02e";
}
.oseicon-painter23:before {
    content: "\e02f";
}
.oseicon-painting63:before {
    content: "\e030";
}
.oseicon-painting65:before {
    content: "\e031";
}
.oseicon-palette3:before {
    content: "\e033";
}
.oseicon-pamphlet:before {
    content: "\e034";
}
.oseicon-paper148:before {
    content: "\e035";
}
.oseicon-papers11:before {
    content: "\e036";
}
.oseicon-papers12:before {
    content: "\e037";
}
.oseicon-paste:before {
    content: "\e038";
}
.oseicon-pencil130:before {
    content: "\e039";
}
.oseicon-pencils19:before {
    content: "\e03a";
}
.oseicon-pencils20:before {
    content: "\e03b";
}
.oseicon-pines3:before {
    content: "\e03c";
}
.oseicon-plant63:before {
    content: "\e03d";
}
.oseicon-print87:before {
    content: "\e03e";
}
.oseicon-print88:before {
    content: "\e03f";
}
.oseicon-pushpin6:before {
    content: "\e047";
}
.oseicon-recycle12:before {
    content: "\e048";
}
.oseicon-resize19:before {
    content: "\e049";
}
.oseicon-roadsign21:before {
    content: "\e04a";
}
.oseicon-scan1:before {
    content: "\e04b";
}
.oseicon-schoolmaterial1:before {
    content: "\e04c";
}
.oseicon-schoolmaterial2:before {
    content: "\e04d";
}
.oseicon-shirt15:before {
    content: "\e04e";
}
.oseicon-shoppingbag16:before {
    content: "\e04f";
}
.oseicon-shoppingbag18:before {
    content: "\e050";
}
.oseicon-targeting13:before {
    content: "\e052";
}
.oseicon-television45:before {
    content: "\e053";
}
.oseicon-underline:before {
    content: "\e054";
}
.oseicon-usb49:before {
    content: "\e055";
}
.oseicon-webpage10:before {
    content: "\e056";
}
.oseicon-website36:before {
    content: "\e057";
}
.oseicon-writing52:before {
    content: "\e058";
}
.oseicon-writing53:before {
    content: "\e059";
}
.oseicon-writing55:before {
    content: "\e05a";
}
.oseicon-writing56:before {
    content: "\e05b";
}
.oseicon-writing57:before {
    content: "\e05c";
}
.oseicon-writing58:before {
    content: "\e05d";
}
.oseicon-uniE05E:before {
    content: "\e05e";
}
.oseicon-uniE05F:before {
    content: "\e05f";
}
.oseicon-uniE060:before {
    content: "\e060";
}
.oseicon-uniE061:before {
    content: "\e061";
}
.oseicon-uniE062:before {
    content: "\e062";
}
.oseicon-uniE063:before {
    content: "\e063";
}
.oseicon-uniE064:before {
    content: "\e064";
}
.oseicon-uniE065:before {
    content: "\e065";
}
.oseicon-uniE066:before {
    content: "\e066";
}
.oseicon-uniE067:before {
    content: "\e067";
}
.oseicon-uniE068:before {
    content: "\e068";
}
.oseicon-uniE069:before {
    content: "\e069";
}
.oseicon-uniE06A:before {
    content: "\e06a";
}
.oseicon-uniE06B:before {
    content: "\e06b";
}
.oseicon-uniE06C:before {
    content: "\e06c";
}
.oseicon-uniE06D:before {
    content: "\e06d";
}
.oseicon-uniE06E:before {
    content: "\e06e";
}
.oseicon-uniE06F:before {
    content: "\e06f";
}
.oseicon-uniE070:before {
    content: "\e070";
}
.oseicon-uniE071:before {
    content: "\e071";
}
.oseicon-uniE072:before {
    content: "\e072";
}
.oseicon-uniE073:before {
    content: "\e073";
}
.oseicon-uniE074:before {
    content: "\e074";
}
.oseicon-uniE075:before {
    content: "\e075";
}
.oseicon-uniE076:before {
    content: "\e076";
}
.oseicon-uniE077:before {
    content: "\e077";
}
.oseicon-uniE078:before {
    content: "\e078";
}
.oseicon-uniE079:before {
    content: "\e079";
}
.oseicon-uniE07A:before {
    content: "\e07a";
}
.oseicon-uniE07B:before {
    content: "\e07b";
}
.oseicon-uniE07C:before {
    content: "\e07c";
}
.oseicon-uniE07D:before {
    content: "\e07d";
}
.oseicon-uniE07E:before {
    content: "\e07e";
}
.oseicon-uniE07F:before {
    content: "\e07f";
}
.oseicon-uniE080:before {
    content: "\e080";
}
.oseicon-uniE081:before {
    content: "\e081";
}
.oseicon-uniE082:before {
    content: "\e082";
}
.oseicon-uniE083:before {
    content: "\e083";
}
.oseicon-uniE084:before {
    content: "\e084";
}
.oseicon-uniE085:before {
    content: "\e085";
}
.oseicon-uniE086:before {
    content: "\e086";
}
.oseicon-uniE087:before {
    content: "\e087";
}
.oseicon-uniE088:before {
    content: "\e088";
}
.oseicon-uniE089:before {
    content: "\e089";
}
.oseicon-uniE08A:before {
    content: "\e08a";
}
.oseicon-uniE08B:before {
    content: "\e08b";
}
.oseicon-uniE08C:before {
    content: "\e08c";
}
.oseicon-uniE08D:before {
    content: "\e08d";
}
.oseicon-uniE08E:before {
    content: "\e08e";
}
.oseicon-uniE08F:before {
    content: "\e08f";
}
.oseicon-uniE090:before {
    content: "\e090";
}
.oseicon-uniE091:before {
    content: "\e091";
}
.oseicon-uniE092:before {
    content: "\e092";
}
.oseicon-uniE093:before {
    content: "\e093";
}
.oseicon-uniE094:before {
    content: "\e094";
}
.oseicon-uniE095:before {
    content: "\e095";
}
.oseicon-uniE096:before {
    content: "\e096";
}
.oseicon-uniE097:before {
    content: "\e097";
}
.oseicon-uniE098:before {
    content: "\e098";
}
.oseicon-uniE099:before {
    content: "\e099";
}
.oseicon-uniE09A:before {
    content: "\e09a";
}
.oseicon-uniE09B:before {
    content: "\e09b";
}
.oseicon-uniE09C:before {
    content: "\e09c";
}
.oseicon-uniE09D:before {
    content: "\e09d";
}
.oseicon-uniE09E:before {
    content: "\e09e";
}
.oseicon-uniE09F:before {
    content: "\e09f";
}
.oseicon-uniE0A0:before {
    content: "\e0a0";
}
.oseicon-uniE0A1:before {
    content: "\e0a1";
}
.oseicon-uniE0A2:before {
    content: "\e0a2";
}
.oseicon-uniE0A3:before {
    content: "\e0a3";
}
.oseicon-uniE0A4:before {
    content: "\e0a4";
}
.oseicon-uniE0A5:before {
    content: "\e0a5";
}
.oseicon-uniE0A6:before {
    content: "\e0a6";
}
.oseicon-uniE0A7:before {
    content: "\e0a7";
}
.oseicon-uniE0A8:before {
    content: "\e0a8";
}
.oseicon-uniE0A9:before {
    content: "\e0a9";
}
.oseicon-uniE0AA:before {
    content: "\e0aa";
}
.oseicon-uniE0AB:before {
    content: "\e0ab";
}
.oseicon-uniE0AC:before {
    content: "\e0ac";
}
.oseicon-uniE0AD:before {
    content: "\e0ad";
}
.oseicon-uniE0AE:before {
    content: "\e0ae";
}
.oseicon-uniE0AF:before {
    content: "\e0af";
}
.oseicon-uniE0B0:before {
    content: "\e0b0";
}
.oseicon-uniE0B1:before {
    content: "\e0b1";
}
.oseicon-uniE0B2:before {
    content: "\e0b2";
}
.oseicon-uniE0B3:before {
    content: "\e0b3";
}
.oseicon-uniE0B4:before {
    content: "\e0b4";
}
.oseicon-uniE0B5:before {
    content: "\e0b5";
}
.oseicon-uniE0B6:before {
    content: "\e0b6";
}
.oseicon-uniE0B7:before {
    content: "\e0b7";
}
.oseicon-uniE0B8:before {
    content: "\e0b8";
}
.oseicon-uniE0B9:before {
    content: "\e0b9";
}
.oseicon-uniE0BA:before {
    content: "\e0ba";
}
.oseicon-uniE0BB:before {
    content: "\e0bb";
}
.oseicon-uniE0BC:before {
    content: "\e0bc";
}
.oseicon-uniE0BD:before {
    content: "\e0bd";
}
.oseicon-uniE0BE:before {
    content: "\e0be";
}
.oseicon-uniE0BF:before {
    content: "\e0bf";
}
.oseicon-uniE0C0:before {
    content: "\e0c0";
}
.oseicon-uniE0C1:before {
    content: "\e0c1";
}
.oseicon-uniE0C2:before {
    content: "\e0c2";
}
.oseicon-uniE0C3:before {
    content: "\e0c3";
}
.oseicon-uniE0C4:before {
    content: "\e0c4";
}
.oseicon-uniE0C5:before {
    content: "\e0c5";
}
.oseicon-uniE0C6:before {
    content: "\e0c6";
}
.oseicon-uniE0C7:before {
    content: "\e0c7";
}
.oseicon-uniE0C8:before {
    content: "\e0c8";
}
.oseicon-uniE0C9:before {
    content: "\e0c9";
}
.oseicon-uniE0CA:before {
    content: "\e0ca";
}
.oseicon-uniE0CB:before {
    content: "\e0cb";
}
.oseicon-uniE0CC:before {
    content: "\e0cc";
}
.oseicon-uniE0CD:before {
    content: "\e0cd";
}
.oseicon-uniE0CE:before {
    content: "\e0ce";
}
.oseicon-uniE0CF:before {
    content: "\e0cf";
}
.oseicon-uniE0D0:before {
    content: "\e0d0";
}
.oseicon-uniE0D1:before {
    content: "\e0d1";
}
.oseicon-uniE0D2:before {
    content: "\e0d2";
}
.oseicon-uniE0D3:before {
    content: "\e0d3";
}
.oseicon-uniE0D4:before {
    content: "\e0d4";
}
.oseicon-uniE0D5:before {
    content: "\e0d5";
}
.oseicon-uniE0D6:before {
    content: "\e0d6";
}
.oseicon-uniE0D7:before {
    content: "\e0d7";
}
.oseicon-uniE0D8:before {
    content: "\e0d8";
}
.oseicon-uniE0D9:before {
    content: "\e0d9";
}
.oseicon-uniE0DA:before {
    content: "\e0da";
}
.oseicon-uniE0DB:before {
    content: "\e0db";
}
.oseicon-uniE0DC:before {
    content: "\e0dc";
}
.oseicon-uniE0DD:before {
    content: "\e0dd";
}
.oseicon-uniE0DE:before {
    content: "\e0de";
}
.oseicon-uniE0DF:before {
    content: "\e0df";
}
.oseicon-uniE0E0:before {
    content: "\e0e0";
}
.oseicon-uniE0E1:before {
    content: "\e0e1";
}
.oseicon-uniE0E2:before {
    content: "\e0e2";
}
.oseicon-uniE0E3:before {
    content: "\e0e3";
}
.oseicon-uniE0E4:before {
    content: "\e0e4";
}
.oseicon-uniE0E5:before {
    content: "\e0e5";
}
.oseicon-uniE0E6:before {
    content: "\e0e6";
}
.oseicon-uniE0E7:before {
    content: "\e0e7";
}
.oseicon-uniE0E8:before {
    content: "\e0e8";
}
.oseicon-uniE0E9:before {
    content: "\e0e9";
}
.oseicon-uniE0EA:before {
    content: "\e0ea";
}
.oseicon-uniE0EB:before {
    content: "\e0eb";
}
.oseicon-uniE0EC:before {
    content: "\e0ec";
}
.oseicon-uniE0ED:before {
    content: "\e0ed";
}
.oseicon-uniE0EE:before {
    content: "\e0ee";
}
.oseicon-uniE0EF:before {
    content: "\e0ef";
}
.oseicon-uniE0F0:before {
    content: "\e0f0";
}
.oseicon-uniE0F1:before {
    content: "\e0f1";
}
.oseicon-uniE0F2:before {
    content: "\e0f2";
}
.oseicon-uniE0F3:before {
    content: "\e0f3";
}
.oseicon-instagram3:before {
    content: "\e9e4";
}
.oseicon-instagram4:before {
    content: "\e9e5";
}
.oseicon-forrst:before {
    content: "\e900";
}
.oseicon-dribbble2:before {
    content: "\e901";
}
.oseicon-twitter2:before {
    content: "\e902";
}
.oseicon-flickr:before {
    content: "\e903";
}
.oseicon-twitter3:before {
    content: "\e904";
}
.oseicon-facebook2:before {
    content: "\e905";
}
.oseicon-skype:before {
    content: "\e906";
}
.oseicon-digg:before {
    content: "\e907";
}
.oseicon-google:before {
    content: "\e908";
}
.oseicon-html5:before {
    content: "\e909";
}
.oseicon-linkedin2:before {
    content: "\e90a";
}
.oseicon-lastfm:before {
    content: "\e90b";
}
.oseicon-vimeo:before {
    content: "\e90c";
}
.oseicon-yahoo:before {
    content: "\e90d";
}
.oseicon-tumblr2:before {
    content: "\e90e";
}
.oseicon-apple:before {
    content: "\e90f";
}
.oseicon-windows:before {
    content: "\e910";
}
.oseicon-youtube:before {
    content: "\e911";
}
.oseicon-delicious:before {
    content: "\e912";
}
.oseicon-rss2:before {
    content: "\e913";
}
.oseicon-picasa:before {
    content: "\e914";
}
.oseicon-deviantart:before {
    content: "\e915";
}
.oseicon-whatsapp:before {
    content: "\e916";
}
.oseicon-snapchat:before {
    content: "\e917";
}
.oseicon-blogger:before {
    content: "\e918";
}
.oseicon-wordpress:before {
    content: "\e919";
}
.oseicon-amazon:before {
    content: "\e91a";
}
.oseicon-appstore:before {
    content: "\e91b";
}
.oseicon-paypal:before {
    content: "\e91c";
}
.oseicon-myspace:before {
    content: "\e91d";
}
.oseicon-dropbox:before {
    content: "\e91e";
}
.oseicon-windows8:before {
    content: "\e91f";
}
.oseicon-pinterest:before {
    content: "\e920";
}
.oseicon-soundcloud:before {
    content: "\e921";
}
.oseicon-google-drive:before {
    content: "\e922";
}
.oseicon-android:before {
    content: "\e923";
}
.oseicon-behance:before {
    content: "\e924";
}
.oseicon-instagram:before {
    content: "\e925";
}
.oseicon-ebay:before {
    content: "\e926";
}
.oseicon-google-plus:before {
    content: "\e927";
}
.oseicon-github:before {
    content: "\e928";
}
.oseicon-stackoverflow:before {
    content: "\e929";
}
.oseicon-spotify:before {
    content: "\e92a";
}
.oseicon-stumbleupon:before {
    content: "\e92b";
}
.oseicon-visa:before {
    content: "\e92c";
}
.oseicon-mastercard:before {
    content: "\e92d";
}
.oseicon-amex:before {
    content: "\e92e";
}
.oseicon-ios:before {
    content: "\e92f";
}
.oseicon-osx:before {
    content: "\e930";
}
.oseicon-evernote:before {
    content: "\e931";
}
.oseicon-yelp:before {
    content: "\e932";
}
.oseicon-yelp2:before {
    content: "\e933";
}
.oseicon-medium:before {
    content: "\e934";
}
.oseicon-slack:before {
    content: "\e935";
}
.oseicon-vine:before {
    content: "\e936";
}
.oseicon-edge:before {
    content: "\e937";
}
.oseicon-outlook:before {
    content: "\e938";
}
.oseicon-pencilcase:before {
    content: "\e939";
}
.oseicon-play2:before {
    content: "\e93a";
}
.oseicon-icloud:before {
    content: "\e93b";
}
.oseicon-forrst2:before {
    content: "\e93c";
}
.oseicon-dribbble3:before {
    content: "\e93d";
}
.oseicon-twitter4:before {
    content: "\e93e";
}
.oseicon-flickr2:before {
    content: "\e93f";
}
.oseicon-twitter5:before {
    content: "\e940";
}
.oseicon-facebook3:before {
    content: "\e941";
}
.oseicon-skype2:before {
    content: "\e942";
}
.oseicon-digg2:before {
    content: "\e943";
}
.oseicon-google2:before {
    content: "\e944";
}
.oseicon-html52:before {
    content: "\e945";
}
.oseicon-linkedin3:before {
    content: "\e946";
}
.oseicon-lastfm2:before {
    content: "\e947";
}
.oseicon-vimeo2:before {
    content: "\e948";
}
.oseicon-yahoo2:before {
    content: "\e949";
}
.oseicon-tumblr3:before {
    content: "\e94a";
}
.oseicon-apple2:before {
    content: "\e94b";
}
.oseicon-windows2:before {
    content: "\e94c";
}
.oseicon-youtube2:before {
    content: "\e94d";
}
.oseicon-delicious2:before {
    content: "\e94e";
}
.oseicon-rss3:before {
    content: "\e94f";
}
.oseicon-picasa2:before {
    content: "\e950";
}
.oseicon-deviantart2:before {
    content: "\e951";
}
.oseicon-whatsapp2:before {
    content: "\e952";
}
.oseicon-snapchat2:before {
    content: "\e953";
}
.oseicon-blogger2:before {
    content: "\e954";
}
.oseicon-wordpress2:before {
    content: "\e955";
}
.oseicon-amazon2:before {
    content: "\e956";
}
.oseicon-appstore2:before {
    content: "\e957";
}
.oseicon-paypal2:before {
    content: "\e958";
}
.oseicon-myspace2:before {
    content: "\e959";
}
.oseicon-dropbox2:before {
    content: "\e95a";
}
.oseicon-windows82:before {
    content: "\e95b";
}
.oseicon-pinterest2:before {
    content: "\e95c";
}
.oseicon-soundcloud2:before {
    content: "\e95d";
}
.oseicon-google-drive2:before {
    content: "\e95e";
}
.oseicon-android2:before {
    content: "\e95f";
}
.oseicon-behance2:before {
    content: "\e960";
}
.oseicon-instagram2:before {
    content: "\e961";
}
.oseicon-ebay2:before {
    content: "\e962";
}
.oseicon-google-plus2:before {
    content: "\e963";
}
.oseicon-github2:before {
    content: "\e964";
}
.oseicon-stackoverflow2:before {
    content: "\e965";
}
.oseicon-spotify2:before {
    content: "\e966";
}
.oseicon-stumbleupon2:before {
    content: "\e967";
}
.oseicon-visa2:before {
    content: "\e968";
}
.oseicon-mastercard2:before {
    content: "\e969";
}
.oseicon-amex2:before {
    content: "\e96a";
}
.oseicon-ios2:before {
    content: "\e96b";
}
.oseicon-osx2:before {
    content: "\e96c";
}
.oseicon-evernote2:before {
    content: "\e96d";
}
.oseicon-yelp3:before {
    content: "\e96e";
}
.oseicon-yelp4:before {
    content: "\e96f";
}
.oseicon-medium2:before {
    content: "\e970";
}
.oseicon-slack2:before {
    content: "\e971";
}
.oseicon-vine2:before {
    content: "\e972";
}
.oseicon-edge2:before {
    content: "\e973";
}
.oseicon-outlook2:before {
    content: "\e974";
}
.oseicon-pencilcase2:before {
    content: "\e975";
}
.oseicon-play22:before {
    content: "\e976";
}
.oseicon-icloud2:before {
    content: "\e977";
}
.oseicon-album:before {
    content: "\e6aa";
}
.oseicon-arc:before {
    content: "\e6ab";
}
.oseicon-back-2:before {
    content: "\e6ac";
}
.oseicon-bandaid:before {
    content: "\e6ad";
}
.oseicon-car:before {
    content: "\e6ae";
}
.oseicon-diamond:before {
    content: "\e6af";
}
.oseicon-door-lock:before {
    content: "\e6b0";
}
.oseicon-eyedropper:before {
    content: "\e6b1";
}
.oseicon-female:before {
    content: "\e6b2";
}
.oseicon-gym:before {
    content: "\e6b3";
}
.oseicon-hammer:before {
    content: "\e6b4";
}
.oseicon-headphones:before {
    content: "\e6b5";
}
.oseicon-helm:before {
    content: "\e6b6";
}
.oseicon-hourglass:before {
    content: "\e6b7";
}
.oseicon-leaf:before {
    content: "\e6b8";
}
.oseicon-magic-wand:before {
    content: "\e6b9";
}
.oseicon-male:before {
    content: "\e6ba";
}
.oseicon-map-2:before {
    content: "\e6bb";
}
.oseicon-next-2:before {
    content: "\e6bc";
}
.oseicon-paint-bucket:before {
    content: "\e6bd";
}
.oseicon-pendrive:before {
    content: "\e6be";
}
.oseicon-photo:before {
    content: "\e6bf";
}
.oseicon-piggy:before {
    content: "\e6c0";
}
.oseicon-plugin:before {
    content: "\e6c1";
}
.oseicon-refresh-2:before {
    content: "\e6c2";
}
.oseicon-rocket:before {
    content: "\e6c3";
}
.oseicon-settings:before {
    content: "\e6c4";
}
.oseicon-shield:before {
    content: "\e6c5";
}
.oseicon-smile:before {
    content: "\e6c6";
}
.oseicon-usb:before {
    content: "\e6c7";
}
.oseicon-vector:before {
    content: "\e6c8";
}
.oseicon-wine:before {
    content: "\e6c9";
}
.oseicon-cloud-upload:before {
    content: "\e68a";
}
.oseicon-cash:before {
    content: "\e68c";
}
.oseicon-close:before {
    content: "\e680";
}
.oseicon-bluetooth:before {
    content: "\e68d";
}
.oseicon-cloud-download:before {
    content: "\e68b";
}
.oseicon-way:before {
    content: "\e68e";
}
.oseicon-close-circle:before {
    content: "\e681";
}
.oseicon-id:before {
    content: "\e68f";
}
.oseicon-angle-up:before {
    content: "\e682";
}
.oseicon-wristwatch:before {
    content: "\e690";
}
.oseicon-angle-up-circle:before {
    content: "\e683";
}
.oseicon-world:before {
    content: "\e691";
}
.oseicon-angle-right:before {
    content: "\e684";
}
.oseicon-volume:before {
    content: "\e692";
}
.oseicon-angle-right-circle:before {
    content: "\e685";
}
.oseicon-users:before {
    content: "\e693";
}
.oseicon-angle-left:before {
    content: "\e686";
}
.oseicon-user-female:before {
    content: "\e694";
}
.oseicon-angle-left-circle:before {
    content: "\e687";
}
.oseicon-up-arrow:before {
    content: "\e695";
}
.oseicon-angle-down:before {
    content: "\e688";
}
.oseicon-switch:before {
    content: "\e696";
}
.oseicon-angle-down-circle:before {
    content: "\e689";
}
.oseicon-scissors:before {
    content: "\e697";
}
.oseicon-wallet:before {
    content: "\e600";
}
.oseicon-safe:before {
    content: "\e698";
}
.oseicon-volume2:before {
    content: "\e601";
}
.oseicon-volume1:before {
    content: "\e602";
}
.oseicon-voicemail:before {
    content: "\e603";
}
.oseicon-video:before {
    content: "\e604";
}
.oseicon-user:before {
    content: "\e605";
}
.oseicon-upload:before {
    content: "\e606";
}
.oseicon-unlock:before {
    content: "\e607";
}
.oseicon-umbrella:before {
    content: "\e608";
}
.oseicon-trash:before {
    content: "\e609";
}
.oseicon-tools:before {
    content: "\e60a";
}
.oseicon-timer:before {
    content: "\e60b";
}
.oseicon-ticket:before {
    content: "\e60c";
}
.oseicon-target:before {
    content: "\e60d";
}
.oseicon-sun:before {
    content: "\e60e";
}
.oseicon-study:before {
    content: "\e60f";
}
.oseicon-stopwatch:before {
    content: "\e610";
}
.oseicon-star:before {
    content: "\e611";
}
.oseicon-speaker:before {
    content: "\e612";
}
.oseicon-signal:before {
    content: "\e613";
}
.oseicon-shuffle:before {
    content: "\e614";
}
.oseicon-shopbag:before {
    content: "\e615";
}
.oseicon-share:before {
    content: "\e616";
}
.oseicon-server:before {
    content: "\e617";
}
.oseicon-search:before {
    content: "\e618";
}
.oseicon-film:before {
    content: "\e6a5";
}
.oseicon-science:before {
    content: "\e619";
}
.oseicon-disk:before {
    content: "\e6a6";
}
.oseicon-ribbon:before {
    content: "\e61a";
}
.oseicon-repeat:before {
    content: "\e61b";
}
.oseicon-refresh:before {
    content: "\e61c";
}
.oseicon-add-user:before {
    content: "\e6a9";
}
.oseicon-refresh-cloud:before {
    content: "\e61d";
}
.oseicon-paperclip:before {
    content: "\e69c";
}
.oseicon-radio:before {
    content: "\e61e";
}
.oseicon-note2:before {
    content: "\e69d";
}
.oseicon-print:before {
    content: "\e61f";
}
.oseicon-network:before {
    content: "\e69e";
}
.oseicon-prev:before {
    content: "\e620";
}
.oseicon-mute:before {
    content: "\e69f";
}
.oseicon-power:before {
    content: "\e621";
}
.oseicon-medal:before {
    content: "\e6a0";
}
.oseicon-portfolio:before {
    content: "\e622";
}
.oseicon-like2:before {
    content: "\e6a1";
}
.oseicon-plus:before {
    content: "\e623";
}
.oseicon-left-arrow:before {
    content: "\e6a2";
}
.oseicon-play:before {
    content: "\e624";
}
.oseicon-key:before {
    content: "\e6a3";
}
.oseicon-plane:before {
    content: "\e625";
}
.oseicon-joy:before {
    content: "\e6a4";
}
.oseicon-photo-gallery:before {
    content: "\e626";
}
.oseicon-pin:before {
    content: "\e69b";
}
.oseicon-phone:before {
    content: "\e627";
}
.oseicon-plug:before {
    content: "\e69a";
}
.oseicon-pen:before {
    content: "\e628";
}
.oseicon-right-arrow:before {
    content: "\e699";
}
.oseicon-paper-plane:before {
    content: "\e629";
}
.oseicon-delete-user:before {
    content: "\e6a7";
}
.oseicon-paint:before {
    content: "\e62a";
}
.oseicon-bottom-arrow:before {
    content: "\e6a8";
}
.oseicon-notebook:before {
    content: "\e62b";
}
.oseicon-note:before {
    content: "\e62c";
}
.oseicon-next:before {
    content: "\e62d";
}
.oseicon-news-paper:before {
    content: "\e62e";
}
.oseicon-musiclist:before {
    content: "\e62f";
}
.oseicon-music:before {
    content: "\e630";
}
.oseicon-mouse:before {
    content: "\e631";
}
.oseicon-more:before {
    content: "\e632";
}
.oseicon-moon:before {
    content: "\e633";
}
.oseicon-monitor:before {
    content: "\e634";
}
.oseicon-micro:before {
    content: "\e635";
}
.oseicon-menu:before {
    content: "\e636";
}
.oseicon-map:before {
    content: "\e637";
}
.oseicon-map-marker:before {
    content: "\e638";
}
.oseicon-mail:before {
    content: "\e639";
}
.oseicon-mail-open:before {
    content: "\e63a";
}
.oseicon-mail-open-file:before {
    content: "\e63b";
}
.oseicon-magnet:before {
    content: "\e63c";
}
.oseicon-loop:before {
    content: "\e63d";
}
.oseicon-look:before {
    content: "\e63e";
}
.oseicon-lock:before {
    content: "\e63f";
}
.oseicon-lintern:before {
    content: "\e640";
}
.oseicon-link:before {
    content: "\e641";
}
.oseicon-like:before {
    content: "\e642";
}
.oseicon-light:before {
    content: "\e643";
}
.oseicon-less:before {
    content: "\e644";
}
.oseicon-keypad:before {
    content: "\e645";
}
.oseicon-junk:before {
    content: "\e646";
}
.oseicon-info:before {
    content: "\e647";
}
.oseicon-home:before {
    content: "\e648";
}
.oseicon-help2:before {
    content: "\e649";
}
.oseicon-help1:before {
    content: "\e64a";
}
.oseicon-graph3:before {
    content: "\e64b";
}
.oseicon-graph2:before {
    content: "\e64c";
}
.oseicon-graph1:before {
    content: "\e64d";
}
.oseicon-graph:before {
    content: "\e64e";
}
.oseicon-global:before {
    content: "\e64f";
}
.oseicon-gleam:before {
    content: "\e650";
}
.oseicon-glasses:before {
    content: "\e651";
}
.oseicon-gift:before {
    content: "\e652";
}
.oseicon-folder:before {
    content: "\e653";
}
.oseicon-flag:before {
    content: "\e654";
}
.oseicon-filter:before {
    content: "\e655";
}
.oseicon-file:before {
    content: "\e656";
}
.oseicon-expand1:before {
    content: "\e657";
}
.oseicon-exapnd2:before {
    content: "\e658";
}
.oseicon-edit:before {
    content: "\e659";
}
.oseicon-drop:before {
    content: "\e65a";
}
.oseicon-drawer:before {
    content: "\e65b";
}
.oseicon-download:before {
    content: "\e65c";
}
.oseicon-display2:before {
    content: "\e65d";
}
.oseicon-display1:before {
    content: "\e65e";
}
.oseicon-diskette:before {
    content: "\e65f";
}
.oseicon-date:before {
    content: "\e660";
}
.oseicon-cup:before {
    content: "\e661";
}
.oseicon-culture:before {
    content: "\e662";
}
.oseicon-crop:before {
    content: "\e663";
}
.oseicon-credit:before {
    content: "\e664";
}
.oseicon-copy-file:before {
    content: "\e665";
}
.oseicon-config:before {
    content: "\e666";
}
.oseicon-compass:before {
    content: "\e667";
}
.oseicon-comment:before {
    content: "\e668";
}
.oseicon-coffee:before {
    content: "\e669";
}
.oseicon-cloud:before {
    content: "\e66a";
}
.oseicon-clock:before {
    content: "\e66b";
}
.oseicon-check:before {
    content: "\e66c";
}
.oseicon-chat:before {
    content: "\e66d";
}
.oseicon-cart:before {
    content: "\e66e";
}
.oseicon-camera:before {
    content: "\e66f";
}
.oseicon-call:before {
    content: "\e670";
}
.oseicon-calculator:before {
    content: "\e671";
}
.oseicon-browser:before {
    content: "\e672";
}
.oseicon-box2:before {
    content: "\e673";
}
.oseicon-box1:before {
    content: "\e674";
}
.oseicon-bookmarks:before {
    content: "\e675";
}
.oseicon-bicycle:before {
    content: "\e676";
}
.oseicon-bell:before {
    content: "\e677";
}
.oseicon-battery:before {
    content: "\e678";
}
.oseicon-ball:before {
    content: "\e679";
}
.oseicon-back:before {
    content: "\e67a";
}
.oseicon-attention:before {
    content: "\e67b";
}
.oseicon-anchor:before {
    content: "\e67c";
}
.oseicon-albums:before {
    content: "\e67d";
}
.oseicon-alarm:before {
    content: "\e67e";
}
.oseicon-airplay:before {
    content: "\e67f";
}
.oseicon-box22:before {
    content: "\e978";
}
.oseicon-write:before {
    content: "\e979";
}
.oseicon-clock4:before {
    content: "\e97a";
}
.oseicon-reply2:before {
    content: "\e97b";
}
.oseicon-reply-all:before {
    content: "\e97c";
}
.oseicon-forward:before {
    content: "\e97d";
}
.oseicon-flag3:before {
    content: "\e97e";
}
.oseicon-search4:before {
    content: "\e97f";
}
.oseicon-trash3:before {
    content: "\e980";
}
.oseicon-envelope2:before {
    content: "\e981";
}
.oseicon-bubble2:before {
    content: "\e982";
}
.oseicon-bubbles:before {
    content: "\e983";
}
.oseicon-user2:before {
    content: "\e984";
}
.oseicon-users2:before {
    content: "\e985";
}
.oseicon-cloud4:before {
    content: "\e986";
}
.oseicon-download3:before {
    content: "\e987";
}
.oseicon-upload3:before {
    content: "\e988";
}
.oseicon-rain:before {
    content: "\e989";
}
.oseicon-sun2:before {
    content: "\e98a";
}
.oseicon-moon2:before {
    content: "\e98b";
}
.oseicon-bell2:before {
    content: "\e98c";
}
.oseicon-folder2:before {
    content: "\e98d";
}
.oseicon-pin2:before {
    content: "\e98e";
}
.oseicon-sound2:before {
    content: "\e98f";
}
.oseicon-microphone2:before {
    content: "\e990";
}
.oseicon-camera4:before {
    content: "\e991";
}
.oseicon-image2:before {
    content: "\e992";
}
.oseicon-cog2:before {
    content: "\e993";
}
.oseicon-calendar3:before {
    content: "\e994";
}
.oseicon-book2:before {
    content: "\e995";
}
.oseicon-map-marker2:before {
    content: "\e996";
}
.oseicon-store:before {
    content: "\e997";
}
.oseicon-support:before {
    content: "\e998";
}
.oseicon-tag3:before {
    content: "\e999";
}
.oseicon-heart4:before {
    content: "\e99a";
}
.oseicon-video-camera:before {
    content: "\e99b";
}
.oseicon-trophy2:before {
    content: "\e99c";
}
.oseicon-cart2:before {
    content: "\e99d";
}
.oseicon-eye3:before {
    content: "\e99e";
}
.oseicon-cancel:before {
    content: "\e99f";
}
.oseicon-chart:before {
    content: "\e9a0";
}
.oseicon-target3:before {
    content: "\e9a1";
}
.oseicon-printer3:before {
    content: "\e9a2";
}
.oseicon-location3:before {
    content: "\e9a3";
}
.oseicon-bookmark:before {
    content: "\e9a4";
}
.oseicon-monitor2:before {
    content: "\e9a5";
}
.oseicon-cross2:before {
    content: "\e9a6";
}
.oseicon-plus2:before {
    content: "\e9a7";
}
.oseicon-left:before {
    content: "\e9a8";
}
.oseicon-up:before {
    content: "\e9a9";
}
.oseicon-browser2:before {
    content: "\e9aa";
}
.oseicon-windows3:before {
    content: "\e9ab";
}
.oseicon-switch2:before {
    content: "\e9ac";
}
.oseicon-dashboard:before {
    content: "\e9ad";
}
.oseicon-play4:before {
    content: "\e9ae";
}
.oseicon-fast-forward2:before {
    content: "\e9af";
}
.oseicon-next2:before {
    content: "\e9b0";
}
.oseicon-refresh2:before {
    content: "\e9b1";
}
.oseicon-film2:before {
    content: "\e9b2";
}
.oseicon-home2:before {
    content: "\e9b3";
}
.oseicon-mobile:before {
    content: "\e0f4";
}
.oseicon-laptop:before {
    content: "\e0f5";
}
.oseicon-desktop:before {
    content: "\e0f6";
}
.oseicon-tablet:before {
    content: "\e0f7";
}
.oseicon-phone2:before {
    content: "\e0f8";
}
.oseicon-document:before {
    content: "\e0f9";
}
.oseicon-documents:before {
    content: "\e0fa";
}
.oseicon-search2:before {
    content: "\e0fb";
}
.oseicon-clipboard:before {
    content: "\e0fc";
}
.oseicon-newspaper:before {
    content: "\e0fd";
}
.oseicon-notebook2:before {
    content: "\e0fe";
}
.oseicon-book-open:before {
    content: "\e0ff";
}
.oseicon-browser3:before {
    content: "\e100";
}
.oseicon-calendar:before {
    content: "\e101";
}
.oseicon-presentation:before {
    content: "\e102";
}
.oseicon-picture:before {
    content: "\e103";
}
.oseicon-pictures:before {
    content: "\e104";
}
.oseicon-video2:before {
    content: "\e105";
}
.oseicon-camera2:before {
    content: "\e106";
}
.oseicon-printer:before {
    content: "\e107";
}
.oseicon-toolbox:before {
    content: "\e108";
}
.oseicon-briefcase:before {
    content: "\e109";
}
.oseicon-wallet2:before {
    content: "\e10a";
}
.oseicon-gift2:before {
    content: "\e10b";
}
.oseicon-bargraph:before {
    content: "\e10c";
}
.oseicon-grid:before {
    content: "\e10d";
}
.oseicon-expand:before {
    content: "\e10e";
}
.oseicon-focus:before {
    content: "\e10f";
}
.oseicon-edit2:before {
    content: "\e110";
}
.oseicon-adjustments:before {
    content: "\e111";
}
.oseicon-ribbon2:before {
    content: "\e112";
}
.oseicon-hourglass2:before {
    content: "\e113";
}
.oseicon-lock2:before {
    content: "\e114";
}
.oseicon-megaphone:before {
    content: "\e115";
}
.oseicon-shield2:before {
    content: "\e116";
}
.oseicon-trophy:before {
    content: "\e117";
}
.oseicon-flag2:before {
    content: "\e118";
}
.oseicon-map2:before {
    content: "\e119";
}
.oseicon-puzzle:before {
    content: "\e11a";
}
.oseicon-basket:before {
    content: "\e11b";
}
.oseicon-envelope:before {
    content: "\e11c";
}
.oseicon-streetsign:before {
    content: "\e11d";
}
.oseicon-telescope:before {
    content: "\e11e";
}
.oseicon-gears:before {
    content: "\e11f";
}
.oseicon-key2:before {
    content: "\e120";
}
.oseicon-paperclip2:before {
    content: "\e121";
}
.oseicon-attachment:before {
    content: "\e122";
}
.oseicon-pricetags:before {
    content: "\e123";
}
.oseicon-lightbulb:before {
    content: "\e124";
}
.oseicon-layers:before {
    content: "\e125";
}
.oseicon-pencil:before {
    content: "\e126";
}
.oseicon-tools2:before {
    content: "\e127";
}
.oseicon-tools-2:before {
    content: "\e128";
}
.oseicon-scissors2:before {
    content: "\e129";
}
.oseicon-paintbrush:before {
    content: "\e12a";
}
.oseicon-magnifying-glass:before {
    content: "\e12b";
}
.oseicon-circle-compass:before {
    content: "\e12c";
}
.oseicon-linegraph:before {
    content: "\e12d";
}
.oseicon-mic:before {
    content: "\e12e";
}
.oseicon-strategy:before {
    content: "\e12f";
}
.oseicon-beaker:before {
    content: "\e130";
}
.oseicon-caution:before {
    content: "\e131";
}
.oseicon-recycle:before {
    content: "\e132";
}
.oseicon-anchor2:before {
    content: "\e133";
}
.oseicon-profile-male:before {
    content: "\e134";
}
.oseicon-profile-female:before {
    content: "\e135";
}
.oseicon-bike:before {
    content: "\e136";
}
.oseicon-wine2:before {
    content: "\e137";
}
.oseicon-hotairballoon:before {
    content: "\e138";
}
.oseicon-globe:before {
    content: "\e139";
}
.oseicon-genius:before {
    content: "\e13a";
}
.oseicon-map-pin:before {
    content: "\e13b";
}
.oseicon-dial:before {
    content: "\e13c";
}
.oseicon-chat2:before {
    content: "\e13d";
}
.oseicon-heart:before {
    content: "\e13e";
}
.oseicon-cloud2:before {
    content: "\e13f";
}
.oseicon-upload2:before {
    content: "\e140";
}
.oseicon-download2:before {
    content: "\e141";
}
.oseicon-target2:before {
    content: "\e142";
}
.oseicon-hazardous:before {
    content: "\e143";
}
.oseicon-piechart:before {
    content: "\e144";
}
.oseicon-speedometer:before {
    content: "\e145";
}
.oseicon-global2:before {
    content: "\e146";
}
.oseicon-compass2:before {
    content: "\e147";
}
.oseicon-lifesaver:before {
    content: "\e148";
}
.oseicon-clock2:before {
    content: "\e149";
}
.oseicon-aperture:before {
    content: "\e14a";
}
.oseicon-quote:before {
    content: "\e14b";
}
.oseicon-scope:before {
    content: "\e14c";
}
.oseicon-alarmclock:before {
    content: "\e14d";
}
.oseicon-refresh3:before {
    content: "\e14e";
}
.oseicon-happy:before {
    content: "\e14f";
}
.oseicon-sad:before {
    content: "\e150";
}
.oseicon-facebook:before {
    content: "\e151";
}
.oseicon-twitter:before {
    content: "\e152";
}
.oseicon-googleplus:before {
    content: "\e153";
}
.oseicon-rss:before {
    content: "\e154";
}
.oseicon-tumblr:before {
    content: "\e155";
}
.oseicon-linkedin:before {
    content: "\e156";
}
.oseicon-dribbble:before {
    content: "\e157";
}
.oseicon-heart2:before {
    content: "\e9b4";
}
.oseicon-cloud22:before {
    content: "\e9b5";
}
.oseicon-star3:before {
    content: "\e9b6";
}
.oseicon-tv:before {
    content: "\e9b7";
}
.oseicon-sound:before {
    content: "\e9b8";
}
.oseicon-video22:before {
    content: "\e9b9";
}
.oseicon-trash4:before {
    content: "\e9ba";
}
.oseicon-user3:before {
    content: "\e9bb";
}
.oseicon-key22:before {
    content: "\e9bc";
}
.oseicon-search22:before {
    content: "\e9bd";
}
.oseicon-settings2:before {
    content: "\e9be";
}
.oseicon-camera22:before {
    content: "\e9bf";
}
.oseicon-tag:before {
    content: "\e9c0";
}
.oseicon-lock22:before {
    content: "\e9c1";
}
.oseicon-bulb:before {
    content: "\e9c2";
}
.oseicon-pen2:before {
    content: "\e9c3";
}
.oseicon-diamond2:before {
    content: "\e9c4";
}
.oseicon-display:before {
    content: "\e9c5";
}
.oseicon-location:before {
    content: "\e9c6";
}
.oseicon-eye:before {
    content: "\e9c7";
}
.oseicon-bubble:before {
    content: "\e9c8";
}
.oseicon-stack:before {
    content: "\e9c9";
}
.oseicon-cup2:before {
    content: "\e9ca";
}
.oseicon-phone22:before {
    content: "\e9cb";
}
.oseicon-news:before {
    content: "\e9cc";
}
.oseicon-mail3:before {
    content: "\e9cd";
}
.oseicon-like3:before {
    content: "\e9ce";
}
.oseicon-photo2:before {
    content: "\e9cf";
}
.oseicon-note3:before {
    content: "\e9d0";
}
.oseicon-clock22:before {
    content: "\e9d1";
}
.oseicon-paperplane:before {
    content: "\e9d2";
}
.oseicon-params:before {
    content: "\e9d3";
}
.oseicon-banknote:before {
    content: "\e9d4";
}
.oseicon-data:before {
    content: "\e9d5";
}
.oseicon-music2:before {
    content: "\e9d6";
}
.oseicon-megaphone2:before {
    content: "\e9d7";
}
.oseicon-study2:before {
    content: "\e9d8";
}
.oseicon-lab:before {
    content: "\e9d9";
}
.oseicon-food:before {
    content: "\e9da";
}
.oseicon-t-shirt:before {
    content: "\e9db";
}
.oseicon-fire:before {
    content: "\e9dc";
}
.oseicon-clip:before {
    content: "\e9dd";
}
.oseicon-shop:before {
    content: "\e9de";
}
.oseicon-calendar2:before {
    content: "\e9df";
}
.oseicon-wallet22:before {
    content: "\e9e0";
}
.oseicon-vynil:before {
    content: "\e9e1";
}
.oseicon-truck:before {
    content: "\e9e2";
}
.oseicon-world2:before {
    content: "\e9e3";
}
.oseicon-eye2:before {
    content: "\e158";
}
.oseicon-paper-clip:before {
    content: "\e159";
}
.oseicon-mail2:before {
    content: "\e15a";
}
.oseicon-toggle:before {
    content: "\e15b";
}
.oseicon-layout:before {
    content: "\e15c";
}
.oseicon-link2:before {
    content: "\e15d";
}
.oseicon-bell3:before {
    content: "\e15e";
}
.oseicon-lock3:before {
    content: "\e15f";
}
.oseicon-unlock2:before {
    content: "\e160";
}
.oseicon-ribbon22:before {
    content: "\e161";
}
.oseicon-image:before {
    content: "\e162";
}
.oseicon-signal2:before {
    content: "\e163";
}
.oseicon-target22:before {
    content: "\e164";
}
.oseicon-clipboard2:before {
    content: "\e165";
}
.oseicon-clock3:before {
    content: "\e166";
}
.oseicon-watch:before {
    content: "\e167";
}
.oseicon-air-play:before {
    content: "\e168";
}
.oseicon-camera3:before {
    content: "\e169";
}
.oseicon-video3:before {
    content: "\e16a";
}
.oseicon-disc:before {
    content: "\e16b";
}
.oseicon-printer2:before {
    content: "\e16c";
}
.oseicon-monitor3:before {
    content: "\e16d";
}
.oseicon-server2:before {
    content: "\e16e";
}
.oseicon-cog:before {
    content: "\e16f";
}
.oseicon-heart3:before {
    content: "\e170";
}
.oseicon-paragraph:before {
    content: "\e171";
}
.oseicon-align-justify:before {
    content: "\e172";
}
.oseicon-align-left:before {
    content: "\e173";
}
.oseicon-align-center:before {
    content: "\e174";
}
.oseicon-align-right:before {
    content: "\e175";
}
.oseicon-book:before {
    content: "\e176";
}
.oseicon-layers2:before {
    content: "\e177";
}
.oseicon-stack2:before {
    content: "\e178";
}
.oseicon-stack-2:before {
    content: "\e179";
}
.oseicon-paper:before {
    content: "\e17a";
}
.oseicon-paper-stack:before {
    content: "\e17b";
}
.oseicon-search3:before {
    content: "\e17c";
}
.oseicon-zoom-in:before {
    content: "\e17d";
}
.oseicon-zoom-out:before {
    content: "\e17e";
}
.oseicon-reply:before {
    content: "\e17f";
}
.oseicon-circle-plus:before {
    content: "\e180";
}
.oseicon-circle-minus:before {
    content: "\e181";
}
.oseicon-circle-check:before {
    content: "\e182";
}
.oseicon-circle-cross:before {
    content: "\e183";
}
.oseicon-square-plus:before {
    content: "\e184";
}
.oseicon-square-minus:before {
    content: "\e185";
}
.oseicon-square-check:before {
    content: "\e186";
}
.oseicon-square-cross:before {
    content: "\e187";
}
.oseicon-microphone:before {
    content: "\e188";
}
.oseicon-record:before {
    content: "\e189";
}
.oseicon-skip-back:before {
    content: "\e18a";
}
.oseicon-rewind:before {
    content: "\e18b";
}
.oseicon-play3:before {
    content: "\e18c";
}
.oseicon-pause:before {
    content: "\e18d";
}
.oseicon-stop:before {
    content: "\e18e";
}
.oseicon-fast-forward:before {
    content: "\e18f";
}
.oseicon-skip-forward:before {
    content: "\e190";
}
.oseicon-shuffle2:before {
    content: "\e191";
}
.oseicon-repeat2:before {
    content: "\e192";
}
.oseicon-folder3:before {
    content: "\e193";
}
.oseicon-umbrella2:before {
    content: "\e194";
}
.oseicon-moon3:before {
    content: "\e195";
}
.oseicon-thermometer:before {
    content: "\e196";
}
.oseicon-drop2:before {
    content: "\e197";
}
.oseicon-sun3:before {
    content: "\e198";
}
.oseicon-cloud3:before {
    content: "\e199";
}
.oseicon-cloud-upload2:before {
    content: "\e19a";
}
.oseicon-cloud-download2:before {
    content: "\e19b";
}
.oseicon-upload22:before {
    content: "\e19c";
}
.oseicon-download22:before {
    content: "\e19d";
}
.oseicon-location2:before {
    content: "\e19e";
}
.oseicon-location-2:before {
    content: "\e19f";
}
.oseicon-map22:before {
    content: "\e1a0";
}
.oseicon-battery2:before {
    content: "\e1a1";
}
.oseicon-head:before {
    content: "\e1a2";
}
.oseicon-briefcase2:before {
    content: "\e1a3";
}
.oseicon-speech-bubble:before {
    content: "\e1a4";
}
.oseicon-anchor22:before {
    content: "\e1a5";
}
.oseicon-globe2:before {
    content: "\e1a6";
}
.oseicon-box:before {
    content: "\e1a7";
}
.oseicon-reload:before {
    content: "\e1a8";
}
.oseicon-share2:before {
    content: "\e1a9";
}
.oseicon-marquee:before {
    content: "\e1aa";
}
.oseicon-marquee-plus:before {
    content: "\e1ab";
}
.oseicon-marquee-minus:before {
    content: "\e1ac";
}
.oseicon-tag2:before {
    content: "\e1ad";
}
.oseicon-power2:before {
    content: "\e1ae";
}
.oseicon-command:before {
    content: "\e1af";
}
.oseicon-alt:before {
    content: "\e1b0";
}
.oseicon-esc:before {
    content: "\e1b1";
}
.oseicon-bar-graph:before {
    content: "\e1b2";
}
.oseicon-bar-graph-2:before {
    content: "\e1b3";
}
.oseicon-pie-graph:before {
    content: "\e1b4";
}
.oseicon-star2:before {
    content: "\e1b5";
}
.oseicon-arrow-left:before {
    content: "\e1b6";
}
.oseicon-arrow-right:before {
    content: "\e1b7";
}
.oseicon-arrow-up:before {
    content: "\e1b8";
}
.oseicon-arrow-down:before {
    content: "\e1b9";
}
.oseicon-volume3:before {
    content: "\e1ba";
}
.oseicon-mute2:before {
    content: "\e1bb";
}
.oseicon-content-right:before {
    content: "\e1bc";
}
.oseicon-content-left:before {
    content: "\e1bd";
}
.oseicon-grid2:before {
    content: "\e1be";
}
.oseicon-grid-2:before {
    content: "\e1bf";
}
.oseicon-columns:before {
    content: "\e1c0";
}
.oseicon-loader:before {
    content: "\e1c1";
}
.oseicon-bag:before {
    content: "\e1c2";
}
.oseicon-ban:before {
    content: "\e1c3";
}
.oseicon-flag22:before {
    content: "\e1c4";
}
.oseicon-trash2:before {
    content: "\e1c5";
}
.oseicon-expand2:before {
    content: "\e1c6";
}
.oseicon-contract:before {
    content: "\e1c7";
}
.oseicon-maximize:before {
    content: "\e1c8";
}
.oseicon-minimize:before {
    content: "\e1c9";
}
.oseicon-plus3:before {
    content: "\e1ca";
}
.oseicon-minus:before {
    content: "\e1cb";
}
.oseicon-check2:before {
    content: "\e1cc";
}
.oseicon-cross:before {
    content: "\e1cd";
}
.oseicon-move:before {
    content: "\e1ce";
}
.oseicon-delete:before {
    content: "\e1cf";
}
.oseicon-menu2:before {
    content: "\e1d0";
}
.oseicon-archive:before {
    content: "\e1d1";
}
.oseicon-inbox:before {
    content: "\e1d2";
}
.oseicon-outbox:before {
    content: "\e1d3";
}
.oseicon-file2:before {
    content: "\e1d4";
}
.oseicon-file-add:before {
    content: "\e1d5";
}
.oseicon-file-subtract:before {
    content: "\e1d6";
}
.oseicon-help:before {
    content: "\e1d7";
}
.oseicon-open:before {
    content: "\e1d8";
}
.oseicon-ellipsis:before {
    content: "\e1d9";
}

